* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';
}

@media (min-width: 40em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
  }

  header {
    grid-column: span 2;
  }

  aside {
    grid-row: span 2;
  }
}

header,
aside,
main,
footer {
  padding: 16px;
  text-align: center;
}

header {
  background: #521751;
  grid-area: header;
}

aside {
  background: #fa923f;
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  background: black;
  grid-area: footer;
}

/* flexbox */
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-item {
  margin: 0 10px;
}

.navigation-item a {
  text-decoration: none;
  color: white;
}

.navigation-item a:hover,
.navigation-item a:active {
  color: #fa923f;
}
